<div class="head">
  <div class="head-top">
      <div class="head-left">
          <a [routerLink]="['/']"><img src="../../assets/img/logo.png"/></a>
      </div>
      
      <div class="head-right">
    
        <div><i class="iconfont icon-shouji"></i><span>客户端</span></div>
    
        <div>
          <input type="text" placeholder="搜索感兴趣的课程"/>
          <span><i class="iconfont icon-sousuo"></i></span>
        </div>
    
        <div>
          <a [routerLink]="['##']">登录</a>
          <a [routerLink]="['##']">注册</a>
        </div>
    
      </div>
  </div>

  <div class="head-bottom">
      <div>
        <a href="##">课程</a>
        <a href="##">名校</a>
        <a href="##">学·问</a>
        <a href="##">学校云</a>
        <a href="##">考研</a>
      </div>

      <div>
        <a href="##">网易云课程</a>
        <a href="##">更多课程频道</a>
      </div>
  </div>
  
    
</div>
